.weather { padding: 0 20px; }

.weather-today { overflow: hidden; margin: 0 -10px 0 -20px; }
.weather-icon { float: left; width: 60%; min-width: 128px; }
.weather-today-text { float: left; width: 30%; min-width: 110px; padding-left: 10px; }

.weather-location { line-height: 1.6; }
.weather-desc { line-height: 1.6; }
.weather-wind { line-height: 1.6; font-size: 12px; }

.weather-forecast { margin: 20px -10px -10px; }
.weather-forecast table { table-layout: fixed; width: 100%; }
.weather-day { vertical-align: top; text-align: center; padding: 10px 5px; background: rgba(0,0,0,0.6); }
.weather-day .weather-icon { width: 80%; float: none; margin: 10px 0; min-width: 0; }
.weather-day .weather-date { font-size: 14px; }
.weather-day .weather-temp { font-size: 13px; }
.weather-day .weather-desc { font-size: 11px; margin-top: 7px; overflow: hidden; }
