.weather { padding: 0; }

.weather-today { overflow: hidden; margin: 20px 5px 0; }
.weather-icon { float: right; clear: right; margin: 0 0 0 -50px; width: 60%; min-width: 128px; }
.weather-badge { float: right; clear: right; margin: 0 5px -2em 0; font-size: 20px; }

.weather-today-text { float: left; width: 30%; min-width: 120px; padding-left: 10px; }

.weather-location { line-height: 1.6; }
.weather-desc { line-height: 1.6; }
.weather-wind { line-height: 1.6; font-size: 12px; }

.weather-forecast { margin: 20px 0 0; }
.weather-forecast table { table-layout: fixed; width: 100%; border-collapse: collapse; }
.weather-day { vertical-align: top; text-align: center; padding: 10px 5px; background: rgba(0,0,0,0.5); }
.weather-day .weather-icon { width: 80%; float: none; margin: 10px 0; min-width: 0; }
.weather-day .weather-date { font-size: 14px; }
.weather-day .weather-temp { font-size: 13px; }
.weather-day .weather-desc { font-size: 11px; margin-top: 7px; overflow: hidden; }
