.trash { color: #aaa; }
.trash .empty-trash:hover { text-decoration: underline; color: red; }

.trash i { color: rgba(255,255,255,0.7); z-index: -1; }
.trash .details { float: right; clear: right; margin: 10px 0 0; text-align: right; }
.trash .details * { line-height: 1.2; display: block; }

.trash i.empty { color: rgba(255,255,255,0.2); }
.trash .empty.details { visibility: hidden; }


.trash.large { position: fixed; bottom: 0; height: auto; padding: 12px 25px 10px; text-align: center; }
.trash.large i { font-size: 64px; position: absolute; left: 0; right: 0; }


.trash.medium { height: auto; padding: 10px 10px 10px 20px; text-align: left; }
.trash.medium i { float: left; font-size: 48px; }
.trash.medium .items  { display: none; }


.trash.small { padding: 0; text-align: center; font-size: 12px; }
.trash.small i { font-size: 32px; position: absolute; left: 0; right: 0; top: 4px; }
.trash.small .details { display: block; margin: 34px 0 0; float: none; text-align: center; }
.trash.small .items,
.trash.small .empty-trash { display: none; }


.trash:hover { background-color: rgba(0,0,0, 0.5); }
.trash.dragover { background-color: rgba(0,0,0, 0.9); }
