* { box-sizing: border-box; line-height: 1; }
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font: 14px arial, sans-serif;
	color: #fff;
}

a { color: #fff; text-decoration: none; color: inherit; }

#app { padding: 0 0 0 5px; overflow: auto; position: absolute; top: 0; bottom: 0; }

widget { min-width: 50px; min-height: 50px; margin: 0 0 1px 0; padding: 20px 0;
	float: right; overflow: hidden; cursor: default; user-select: none; position: relative;
	transition: background 0.4s ease-out;
	background-color: rgba(0,0,0, 0.4);
}

widget[size="small"] { width: 25%; height: 50px; padding: 17px 0; font-size: 16px; text-align: center; }
widget[size="medium"] { width: 50%; height: 100px; text-align: center; }
widget[size="large"] { width: 100%; float: none; display: block; clear: both; }


widget[size="small"]+widget[size="small"],
widget[size="medium"]+widget[size="small"] { width: calc(25% - 1px); margin-right: 1px; }

widget[size="small"]+widget[size="medium"],
widget[size="medium"]+widget[size="medium"] { width: calc(50% - 1px); margin-right: 1px; }

widget .link .badge {
	font-size: 13px;
	position: absolute;
	top: 5px;
	right: 15px;
	background: #B34C34;
	border-radius: 100%;
	padding: 2px 5px;
	font-weight: bold;
}
